*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height: 100vh;
    background-image: url(image/bg.png);
    background-size: cover;
    background-position: center;
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
    
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul{
    list-style: none;
}

section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li{
    text-decoration: none;
    color: #000;
}
section nav li a{
    text-decoration: none;
}
section nav li a:hover{
    color: #089da1;
}

section nav .social_icon i{
    margin: 0 5px;
    font-size: 18px;
}

section nav .social_icon i:hover{
    color: #089da1;
    cursor: pointer;
}

/*About*/

.about{
    width: 100%;
    height: 100vh;
    padding: 50px 0 0 0;
    background-image: url(image/bg.png);
    background-size: cover;
    background-position: center;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .about_image img{
    width: 650px;
    height: 330px;
}

.about .about_main .about_text h3{
    position: relative;
    bottom: 10px;
    font-size: 50px;
    margin-top: 1px;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    line-height: 23px;
    margin-top: 20px;
}

.about .about_main .about_text .about_services{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about .about_main .about_text .about_services .s_1{
    display: flex;
    align-items: center;
    width: 180px;
    background: #ececec;
    padding: 10px;
    border: 2px solid #facc22;
    cursor: pointer;
}

.about .about_main .about_text .about_services .s_1 i{
    color: #000;
    margin: 5px 10px 5px 5px;
    font-size: 20px;
    transition: 0.3s;
}

.about .about_main .about_text .about_services .s_1:hover i{
    color: #facc22;
}

.about .about_main .about_text .about_services .s_1 a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/*Banner*/

.banner_bg{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image.2/Banner.png);
    background-size: cover;
    background-position: center;
}

.banner_bg h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    top: 50%;
    color: #fff;
}

/*Footer*/

footer{
    width: 100%;
    background: #eaeaea;
}
footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around; 
}
footer .footer_main .tag{
    margin: 10px 0;

}
footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}
footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}
footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}
footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}
footer .footer_main .tag i{
    margin-right: 10px;
}
footer .footer_main .social_link i{
    margin: 0 5px;
}
footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202,202,202);
    border-radius: 25px;
}
footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}
footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #089da1;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}
footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .end span{
    color: #089da1;
    margin: 10px;
}